body{
	margin:0;
	padding:0;
  background-color: #000;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	font-size: 18px;
	font-weight: 300;

}



.outer{
  text-align: center;
}

.page{
	position:relative;
	margin-top:0px;
	background-color: #FFF;
  max-width:1200px;
  width:100%;
  height:100%;
  display: inline-block;
  text-align: left;
	opacity:0.6;
}
.navbar{
	position: sticky;
	top:0;
	width:100%;
	height:100px;
	background-color: white;
	z-index:100;
	opacity:0.9;
	}
.tile{
	background-repeat: no-repeat;
	background-size: cover;
	width:100%;
	height:400px;
	}
.brand{
	background-image: url("img/brand.jpg");
	}
.news{
	background-image: url("img/news.jpg");
	}
.retail{
	background-image: url("img/retail.jpg");
	}
.blog{
	background-image: url("img/blog.jpg");
	}
.runway{
	background-image: url("img/runway.jpg");
	}
.color{
	background-image: url("img/color.jpg");
	}
.logo{
	max-width: 200px;
	text-align: left;
	background-color:white;

	}
.logo_img{
	height: 50%;
	}